<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tủ decor - Trang trí nhà xinh</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/shop-assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <th:block th:insert="shop/_header"></th:block>

    <div class="mt-3" style="text-align: center;">
        <img src="/images/404.jpg" alt="" width="720px">
        <br>
        <a href="/home" class="primary-btn btn-rounded">Về trang chủ</a>
        <br> <br>
    </div>

    <th:block th:insert="shop/_insta"></th:block>
    <th:block th:insert="shop/_footer"></th:block>

<!-- Js Plugins -->
<script src="/shop-assets/js/jquery-3.3.1.min.js"></script>
<script src="/shop-assets/js/bootstrap.min.js"></script>
<script src="/shop-assets/js/jquery.magnific-popup.min.js"></script>
<script src="/shop-assets/js/jquery-ui.min.js"></script>
<script src="/shop-assets/js/mixitup.min.js"></script>
<script src="/shop-assets/js/jquery.countdown.min.js"></script>
<script src="/shop-assets/js/jquery.slicknav.js"></script>
<script src="/shop-assets/js/owl.carousel.min.js"></script>
<script src="/shop-assets/js/jquery.nicescroll.min.js"></script>
<script src="/shop-assets/js/main.js"></script>
</body>

</html>