<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Giới thiệu về Tủ decor</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/shop-assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <th:block th:insert="shop/_header"></th:block>

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/home"><i class="fa fa-home"></i> Home</a>
                        <span >Giới thiệu</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <div style="margin-top: -50px;" class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="product__details__tab">
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Giới thiệu về Tủ decor</a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div>
                                <h1 class="title title-post"
                                    style="text-align: left; margin-right: 0px; margin-bottom: 15px; margin-left: 0px; font-size: 18px; line-height: 1.1; padding: 0px;">
                                    <span style="font-family: &quot;Roboto Condensed&quot;, sans-serif; font-size: 14px;"><a
                                            href="https://ttudecor.store" style=""><b style="">
                                                <font color="#636363">Tủ decor</font>
                                            </b></a>
                                        <font color="#666666"> là một cửa hàng online nhỏ xinh cung cấp chủ yếu là dịch vụ in ảnh theo yêu cầu
                                            và các sản phầm kèm theo.</font>
                                    </span><br></h1>
                                <p><span style="color: rgb(102, 102, 102); font-family: &quot;Roboto Condensed&quot;, sans-serif;">Cửa hàng
                                        chúng mình có các món đồ&nbsp;</span><span
                                        style="color: rgb(102, 102, 102); font-family: &quot;Roboto Condensed&quot;, sans-serif;">decor nhỏ xinh
                                        giúp cho căn phòng và góc học tập của bạn trở nên lung linh hơn.</span></p>
                                <p style="text-align: center; "><img
                                        src="https://scontent.fhan14-1.fna.fbcdn.net/v/t39.30808-6/277750688_1121978975253223_7825415877981292230_n.jpg?_nc_cat=102&amp;ccb=1-7&amp;_nc_sid=e3f864&amp;_nc_ohc=crvNYNdCaXgAX9h4ofh&amp;_nc_ht=scontent.fhan14-1.fna&amp;oh=00_AT8I4j25myysochFFRlFfAEhJvwlcqkcwjBq1iRQnVEx_g&amp;oe=6300F67D"
                                        style="width: 863px; height: 485.903px;"><span
                                        style="color: rgb(102, 102, 102); font-family: &quot;Roboto Condensed&quot;, sans-serif;"><br></span>
                                </p>
                                <h2
                                    style="font-family: &quot;Roboto Condensed&quot;, sans-serif; line-height: 1.1; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; font-size: 30px; padding: 0px;">
                                    <span style="font-size: 16px;"><span style="font-weight: 700;">Các danh mục sản phẩm tại
                                            ttu.decor:</span></span></h2>
                                <h3
                                    style="margin-right: 0px; margin-bottom: 10px; margin-left: 0px; font-family: &quot;Roboto Condensed&quot;, sans-serif; line-height: 1.1; color: rgb(0, 0, 0); font-size: 24px; padding: 0px;">
                                    <span style="color: rgb(102, 102, 102); font-size: 14px;"><b>- In ảnh theo yêu cầu:</b>&nbsp;Lưu giữ kỷ niệm
                                        của bạn qua những tấm ảnh.</span></h3>
                                <h3
                                    style="font-family: &quot;Roboto Condensed&quot;, sans-serif; line-height: 1.1; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; font-size: 24px; padding: 0px;">
                                    <span style="color: rgb(102, 102, 102); font-size: 14px;"><b>- Album ảnh, phụ kiện: </b>Lưu ảnh trong album
                                        hoặc dùng để trang trí căn phòng với các phụ kiện như dây đèn led, sticker, kẹp treo ảnh,...</span></h3>
                                <h3
                                    style="font-family: &quot;Roboto Condensed&quot;, sans-serif; line-height: 1.1; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; font-size: 24px; padding: 0px;">
                                    <span style="color: rgb(102, 102, 102); font-size: 14px;"><b>- Đồ dùng decor:</b> Decor phòng ngủ, phòng làm
                                        việc, góc học tập.</span></h3>
                                <h3
                                    style="font-family: &quot;Roboto Condensed&quot;, sans-serif; line-height: 1.1; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; font-size: 24px; padding: 0px;">
                                    <span style="color: rgb(102, 102, 102); font-size: 14px;"><b>- Lịch để bàn: </b>Quản lý thời gian hiệu quả
                                        hơn với một cuốn lịch tại bàn làm việc/học tập.</span></h3>
                                <h3
                                    style="font-family: &quot;Roboto Condensed&quot;, sans-serif; line-height: 1.1; margin-right: 0px; margin-bottom: 10px; margin-left: 0px; font-size: 24px; padding: 0px;">
                                    <span style="color: rgb(102, 102, 102); font-size: 14px;"><b>- Postcard: </b>Thể hiện phong cách với những
                                        tấm postcard độc lạ.</span></h3>
                                <h2
                                    style="margin-right: 0px; margin-bottom: 10px; margin-left: 0px; font-family: &quot;Roboto Condensed&quot;, sans-serif; line-height: 1.1; color: rgb(0, 0, 0); font-size: 30px; padding: 0px;">
                                    <span style="font-size: 16px;"><span style="font-weight: 700;">Quy trình đặt in ảnh tại
                                            ttu.decor:</span></span></h2>
                                <p><span class="description"
                                        style="line-height: 24px; margin-bottom: 0px; color: rgb(102, 102, 102); font-family: &quot;Roboto Condensed&quot;, sans-serif;">Với
                                        các sản phẩm tại ttu.decor, bạn chỉ cần vào website đặt hàng, chúng mình sẽ liên hệ xác nhận đơn hàng
                                        rồi ship đến cho bạn.</span></p>
                                <p><span class="description"
                                        style="line-height: 24px; margin-bottom: 0px; color: rgb(102, 102, 102); font-family: &quot;Roboto Condensed&quot;, sans-serif;">Riêng
                                        đối với các sản phẩm in ảnh, bạn vui lòng làm theo một số bước dưới đây:<br><b>1. Đặt hàng tại
                                            website</b><br><b>2. Gửi ảnh qua 1 trong 2 địa chỉ:</b><br>- Zalo 036.325.1169<br>- Email:
                                        ttu.decor@gmail.com<br>Bạn lưu ý gửi ảnh đúng với số lượng ảnh đã đặt hàng. Chúng mình sẽ liên hệ xác
                                        nhận đơn hàng và tiến hành in.</span></p>
                                <p style="text-align: center; ">&nbsp;<img
                                        src="https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-6/295083246_460172186116923_6384336784292891719_n.jpg?_nc_cat=103&amp;ccb=1-7&amp;_nc_sid=730e14&amp;_nc_ohc=KEjl6zi7HzAAX9TCwC9&amp;tn=BgQaRSt0x2I_150_&amp;_nc_ht=scontent.fhan14-2.fna&amp;oh=00_AT_JBi26YkHRzMtCFPDnQ-6JuR3JzzulPLF0PMM8B1Fx8Q&amp;oe=62FF734B"
                                        style="width: 280.016px; height: 280.016px;">&nbsp;<img
                                        src="https://scontent.fhan14-1.fna.fbcdn.net/v/t39.30808-6/296244713_460911889376286_445286261169403285_n.jpg?_nc_cat=102&amp;ccb=1-7&amp;_nc_sid=730e14&amp;_nc_ohc=9gLtF0io5UIAX91D_c8&amp;_nc_ht=scontent.fhan14-1.fna&amp;oh=00_AT-rrMlLafGPwasFYJj2GYSSG3MbMMnI7vmCuRbaTX72fw&amp;oe=6300DEDE"
                                        style="width: 280.016px; height: 280.016px;">&nbsp;<img
                                        src="https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-6/292139538_1176045963179857_2175836938959416609_n.jpg?_nc_cat=103&amp;ccb=1-7&amp;_nc_sid=a26aad&amp;_nc_ohc=ZFaFHLKITOsAX-AoI15&amp;tn=BgQaRSt0x2I_150_&amp;_nc_ht=scontent.fhan14-2.fna&amp;oh=00_AT8svmUBZ9kysiSLgVmw2bYa_IALdQVcBbqBkEFCStdk5w&amp;oe=63004A07"
                                        style="width: 279.609px; height: 279.609px;">&nbsp;<img
                                        src="https://scontent.fhan14-2.fna.fbcdn.net/v/t39.30808-6/280663080_1140380223413098_5064190240881764512_n.png?_nc_cat=108&amp;ccb=1-7&amp;_nc_sid=730e14&amp;_nc_ohc=xZf0yYw5zYgAX9c5o2f&amp;tn=BgQaRSt0x2I_150_&amp;_nc_ht=scontent.fhan14-2.fna&amp;oh=00_AT_iNnRXGqZIEYTZtJ3W1p0wB9rBz7W7E1WzN29L5rsDhg&amp;oe=62FF271B"
                                        style="width: 279.969px; height: 279.969px;"><span class="description"
                                        style="line-height: 24px; margin-bottom: 0px; color: rgb(102, 102, 102); font-family: &quot;Roboto Condensed&quot;, sans-serif;"><i><br></i></span>
                                </p>
                                <p style="text-align: left;"><span class="description"
                                        style="line-height: 24px; margin-bottom: 0px; color: rgb(102, 102, 102); font-family: &quot;Roboto Condensed&quot;, sans-serif;">Tủ
                                        decor luôn cố gắng đem đến sản phẩm và dịch vụ tốt nhất cho khách hàng.<br><i>Cảm ơn bạn đã ghé thăm.
                                            Chúc bạn có một ngày vui vẻ!</i><i><br></i></span></p>
                                <h2
                                    style="margin-right: 0px; margin-bottom: 10px; margin-left: 0px; font-family: &quot;Roboto Condensed&quot;, sans-serif; line-height: 1.1; color: rgb(0, 0, 0); font-size: 30px; padding: 0px;">
                                    <span style="font-weight: 700;"><span style="font-size: 16px;">Liên hệ với ttu.decor:</span></span></h2>
                                <p><span class="description"
                                        style="line-height: 24px; margin-bottom: 0px; color: rgb(102, 102, 102); font-family: &quot;Roboto Condensed&quot;, sans-serif;"></span><span
                                        style="color: rgb(102, 102, 102); font-family: &quot;Roboto Condensed&quot;, sans-serif;"><b>Facebook:&nbsp;</b></span><a
                                        href="https://www.facebook.com/ttu.decor/" target="_blank">
                                        <font color="#085294">Tủ decor - Trang trí nhà xinh</font>
                                    </a><br style="color: rgb(102, 102, 102); font-family: &quot;Roboto Condensed&quot;, sans-serif;">
                                    <font color="#666666" face="Roboto Condensed, sans-serif"><b>Instagram:</b>&nbsp;</font><a
                                        href="https://www.instagram.com/ttu.decor/" target="_blank">
                                        <font color="#085294">@ttu.decor</font>
                                    </a><br style="color: rgb(102, 102, 102); font-family: &quot;Roboto Condensed&quot;, sans-serif;"><span
                                        style="color: rgb(102, 102, 102); font-family: &quot;Roboto Condensed&quot;, sans-serif;"><b>Phone/Zalo:</b>
                                        036 325 1169</span><br
                                        style="color: rgb(102, 102, 102); font-family: &quot;Roboto Condensed&quot;, sans-serif;"><span
                                        style="color: rgb(102, 102, 102); font-family: &quot;Roboto Condensed&quot;, sans-serif;"><b>Email:
                                        </b>ttu.decor@gmail.com</span><br>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <th:block th:insert="shop/_insta"></th:block>
    <th:block th:insert="shop/_footer"></th:block>

    <!-- Js Plugins -->
    <script src="/shop-assets/js/jquery-3.3.1.min.js"></script>
    <script src="/shop-assets/js/bootstrap.min.js"></script>
    <script src="/shop-assets/js/jquery.magnific-popup.min.js"></script>
    <script src="/shop-assets/js/jquery-ui.min.js"></script>
    <script src="/shop-assets/js/mixitup.min.js"></script>
    <script src="/shop-assets/js/jquery.countdown.min.js"></script>
    <script src="/shop-assets/js/jquery.slicknav.js"></script>
    <script src="/shop-assets/js/owl.carousel.min.js"></script>
    <script src="/shop-assets/js/jquery.nicescroll.min.js"></script>
    <script src="/shop-assets/js/main.js"></script>
</body>

</html>