<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Thanh toán đơn hàng</title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/shop-assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <th:block th:insert="shop/_header"></th:block>

    <!-- Checkout Section Begin -->
    <section class="checkout spad" th:if="${success == null}">
        <div class="container">
            
            <form action="/checkout" class="checkout__form" method="post" th:object="${order}">
                <div class="row">
                    <div class="col-lg-8">
                        <h5>Thông tin nhận hàng</h5>
                        <div class="row">

                            <div class="col-lg-12">
                                <div class="checkout__form__input">
                                    <p>Họ và tên <span>*</span></p>
                                    <input type="text" name="fullname" th:field="*{fullname}">
                                </div>
                            </div>
                            
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>Email <span>*</span></p>
                                    <input type="text" name="email" th:field="*{email}">
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <div class="checkout__form__input">
                                    <p>Số điện thoại <span>*</span></p>
                                    <input type="text" name="phoneNumber" th:field="*{phoneNumber}">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                
                                <div class="checkout__form__input">
                                    <p>Địa chỉ <span>*</span></p>
                                    <input type="text" name="address" th:field="*{address}"
                                        placeholder="Ghi rõ: thôn, xóm/ số nhà, đường phố, quận, huyện, tỉnh thành">
                                </div>
                            </div>
                           
                            <div class="col-lg-12">
                                    <div class="checkout__form__input">
                                        <p>Order notes </p>
                                        <input placeholder="Ghi chú (tùy chọn)" name="note">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="checkout__order">
                                <h5>Đơn hàng</h5>
                                <div class="checkout__order__product">
                                    <ul>
                                        <li>
                                            <span class="top__text">Sản phẩm</span>
                                            <span class="top__text__right">Tổng</span>
                                        </li>
                                    </ul>
                                    <table>
                                        <tr th:each="item : ${cartItems}">
                                            <td>
                                                <span style="color:darkred; font-weight: bold" 
                                                    th:text="${item.quantity} + ' x'">2 x</span> 

                                                <span th:text="${item.productName}">IN ẢNH RỬA ẢNH 6x9 polaroid</span>
                                            </td>
                                            <td ><span style="font-weight: bold"  class="format-price" 
                                                th:text="${item.price * item.quantity}">70.000đ</span></td>
                                        </tr>
                                        
                                    </table>
                                </div>
                                <div class="checkout__order__total">
                                    <ul>
                                        <li>Tổng tiền <span class="format-price" th:text="${cartAmount}">$ 750.0</span></li>
                                    </ul>
                                </div>
                                
                                <button type="submit" class="site-btn">Đặt hàng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
    <!-- Checkout Section End -->

     <!-- Alert Section Begin -->
     <section class="checkout spad" th:if="${success != null}">
        <div class="container">

                <div class="row ">
                    <div class="col-lg-2 col-md-2"></div>
                    <div class="col-lg-8 col-md-8">
                        <h5>Cảm ơn bạn đã đặt hàng tại ttu.decor!</h5>
                        <h5>Bạn vui lòng kiểm tra email để xem chi tiết đơn hàng nhé!</h5>
                        <h5><a href="/home">Quay về trang chủ</a></h5>
                    </div>

                </div>

        </div>
    </section>
    <!-- Alert Section End -->

    <th:block th:insert="shop/_insta"></th:block>
    <th:block th:insert="shop/_footer"></th:block>

<!-- Js Plugins -->
<script src="/shop-assets/js/jquery-3.3.1.min.js"></script>
<script src="/shop-assets/js/bootstrap.min.js"></script>
<script src="/shop-assets/js/jquery.magnific-popup.min.js"></script>
<script src="/shop-assets/js/jquery-ui.min.js"></script>
<script src="/shop-assets/js/mixitup.min.js"></script>
<script src="/shop-assets/js/jquery.countdown.min.js"></script>
<script src="/shop-assets/js/jquery.slicknav.js"></script>
<script src="/shop-assets/js/owl.carousel.min.js"></script>
<script src="/shop-assets/js/jquery.nicescroll.min.js"></script>
<script src="/shop-assets/js/main.js"></script>
</body>

</html>