<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ashion Template">
    <meta name="keywords" content="Ashion, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="${product.name}"></title>

    <link rel="icon" type="image/x-icon" href="/images/favicon.png">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/shop-assets/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/shop-assets/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <!-- <div id="preloder">
        <div class="loader"></div>
    </div> -->

    <th:block th:insert="shop/_header"></th:block>

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="/home"><i class="fa fa-home"></i> Home</a>
                        <a href="/shop"> Shop</a>
                        <a th:href="@{'/shop/' + ${category.url}}" th:text="${category.name}">Women’s </a>
                        <span th:text="${product.name}">Essential structured blazer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Product Details Section Begin -->
    <section class="product-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="product__details__pic">
                        <div class="product__details__pic__left product__thumb nice-scroll">
                            <a class="pt active" href="#pimage">
                                <img th:src="${product.image}" alt="">
                            </a>
                            <a class="pt" th:href="${'#pimage' + i.count}" th:each="item, i : ${product.gallery}">
                                <img th:src="${item.image}" alt="">
                            </a>
                        </div>
                        <div class="product__details__slider__content">
                            <div class="product__details__pic__slider owl-carousel">
                                <img data-hash="pimage" class="product__big__img" th:src="${product.image}" alt="">
                                <img th:data-hash="${'pimage' + i.count}" class="product__big__img" 
                                    th:src="${item.image}" alt="" th:each="item, i : ${product.gallery}">
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="product__details__text">
                        <h3 th:text="${product.name}">Ảnh 10x14 ép plastic <span>Brand: SKMEIMore Men Watches from SKMEI</span></h3>
                        <div class="rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <!-- <span>( 138 reviews )</span> -->
                        </div>

                        <div class="product__details__price" th:if="${product.discountPrice} > 0"> 
                            <span class="discount-price format-price" th:text="${product.discountPrice}" ></span>
                            <span class="o-price format-price" th:text="${product.price}" > 39.000 đ</span>
                        </div>
                        <div class="product__details__price" th:if="${product.discountPrice} == 0"> 
                            <span class="discount-price format-price" th:text="${product.price}" ></span>
                        </div>

                        <p></p>

                        <div class="product__details__button">
                            <form th:action="@{'/cart/add/' + ${product.url}}" method="get">
                                <div class="quantity">
                                    <span>Số lượng:</span>
                                    <div class="pro-qty">
                                        <input type="text" value="1" name="quantity" th:value="${product.quantity > 0 ? 1 : 0}"
                                            th:readonly="${product.quantity > 0 ? false : true}">
                                    </div>
                                </div>
                                <button type="submit" class="site-btn" th:if="${product.quantity > 0}"><span class="icon_bag_alt"></span> Thêm vào giỏ</button>
                            </form>
                        </div>
                        <div class="product__details__widget">
                            <ul>
                                <li>
                                    <span>Kho hàng:</span>
                                    <div >
                                        <label th:text="${product.quantity}">50</label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="product__details__tab">
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Mô tả sản phẩm</a>
                            </li>
                            <!-- <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Specification</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tabs-3" role="tab">Reviews ( 0 )</a>
                            </li> -->
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tabs-1" role="tabpanel">
                                <div th:utext="${product.description}"> </div>
                            </div>
                            <!-- <div class="tab-pane" id="tabs-2" role="tabpanel">
                                <h6>Specification</h6>
                                <p th:text="${product.name}">Nemo enim ipsam voluptat</p>
                            </div>
                            <div class="tab-pane" id="tabs-3" role="tabpanel">
                                <h6>Reviews ( 0 )</h6>
                                <p></p>
                               
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="related__title">
                        <h5>Sản phẩm xem gần đây</h5>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6" th:each="product : ${relatedProducts}">
                    <div class="product__item">
                        <div class="product__item__pic set-bg" th:data-setbg="${product.image}">
                            <div class="label stockout" th:if="${product.quantity == 0}">Hết hàng</div>
                            <div class="label new" th:if="${product.isnew}">New</div>
                            <ul class="product__hover">
                                <li><a th:href="${product.image}" class="image-popup"><span class="arrow_expand"></span></a></li>
                                <li><a href="#"><span class="icon_heart_alt"></span></a></li>
                                <li><a th:href="@{'/cart/add/' + ${product.url}}"><span class="icon_bag_alt"></span></a></li>
                            </ul>
                        </div>
                        <div class="product__item__text">
                            <h6><a th:href="@{'/product/' + ${product.url}}" th:text="${product.name}">Ảnh in 10x14 ép plastic</a></h6>
                            <div class="rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                                        
                            <div class="product__price" th:if="${product.discountPrice} > 0"> 
                                <span class="discount-price format-price" th:text="${product.discountPrice}" ></span>
                                <span class="o-price format-price" th:text="${product.price}" > 39.000 đ</span>
                            </div>
                            <div class="product__price " th:if="${product.discountPrice} == 0">
                                <span class="discount-price format-price" th:text="${product.price}" ></span>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>
    </section>
    <!-- Product Details Section End -->

    <th:block th:insert="shop/_insta"></th:block>
    <th:block th:insert="shop/_footer"></th:block>

<!-- Js Plugins -->
<script src="/shop-assets/js/jquery-3.3.1.min.js"></script>
<script src="/shop-assets/js/bootstrap.min.js"></script>
<script src="/shop-assets/js/jquery.magnific-popup.min.js"></script>
<script src="/shop-assets/js/jquery-ui.min.js"></script>
<script src="/shop-assets/js/mixitup.min.js"></script>
<script src="/shop-assets/js/jquery.countdown.min.js"></script>
<script src="/shop-assets/js/jquery.slicknav.js"></script>
<script src="/shop-assets/js/owl.carousel.min.js"></script>
<script src="/shop-assets/js/jquery.nicescroll.min.js"></script>
<script src="/shop-assets/js/main.js"></script>
</body>

</html>